{% extends 'main/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Fullname "{{ object.fio }}"
                    </h3>
                    <h4>Email: {{ object.email }}</h4>
                </div>
                <div class="card-body">
                    <p>Comment:
                        {{ object.comment }}

                        <br>

                    </p>

                    <div class="d-flex justify-content-between align-items-center float-right">
                        <div class="btn-group">
                          <a href="#"
                            class="btn btn-sm btn-outline-secondary">Blog List</a>
                          <a href="#"
                            class="btn btn-sm btn-outline-secondary">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    Views:
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}