{% extends 'main/base.html' %}
{% block content %}
  <div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href=" ">Add Newsletter</a>
  </div>
  {% for object in object_list reversed %}
  <div class="col-md-12">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <h4 class="card-text">
          <b>{{ object.pk }}</b> - <b>Frequency:</b> {{ object.interval }} | <b>Status:</b> {{ object.status }}
            <span class="d-grid gap-2 d-md-flex justify-content-md-end">
               <a href="{% url 'main:newsletter_view' object.pk %}"
                  class="btn btn-sm btn-outline-secondary">Details</a>
            </span>
        </h4>

            <table class="table table-striped">
                <tr>
                    <th>Customer-id</th>
                    <th>Customer fullname</th>
                </tr>
                {% for customer_item in object.customer.all %}
                    <tr>
                        <td> <a href="{% url 'main:customer_view' customer_item.pk %}"> {{ customer_item.pk }} </a> </td>
                        <td> {{ customer_item.fio }} </td>
                    </tr>
                {% endfor %}
            </table>

            <table class="table table-striped">
                <tr>
                    <th>Message-id</th>
                    <th>Massage Subject</th>
                </tr>
                {% for message_item in object.message.all %}
                    <tr>
                            <td> <a href="{% url 'main:message_view' message_item.pk %}"> {{ message_item.pk }} </a> </td>
                        <td> {{ message_item.message_subject }} </td>
                    </tr>
                {% endfor %}
            </table>

      </div>
    </div>
  </div>
  {% endfor %}

  {% endblock%}
